<section class="patrons-cards-patrons-cards">
  <app-card
    nom="Charles Marinakis"
    fonction="PDG Century 21 France"
    image_src="/assets/marinakis-200h.jpg"
    rootClassName="card-root-class-name2"
  ></app-card>
  <app-card
    nom="Bahi Khoury"
    fonction="Directeur général opérationnel Century 21 France"
    image_src="/assets/bahi_khoury-200h.jpg"
    rootClassName="card-root-class-name"
  ></app-card>
  <app-card
    nom="Eloïse Bidaut"
    fonction="Century 21 France"
    image_src="/assets/eloise_bidaut-200h.jpg"
    rootClassName="card-root-class-name1"
  ></app-card>
</section>
