<footer class="the-footer-footer" [ngClass]="rootClassName">
  <div class="the-footer-footer-inner">
    <div class="the-footer-footer-inner-left">
      <span class="the-footer-text">{{ Text }}</span>
      <div class="the-footer-container">
        <a
          href="https://www.facebook.com/Century21France"
          target="_blank"
          rel="noreferrer noopener"
          class="the-footer-link"
        >
          <img
            [attr.alt]="image_alt"
            [attr.src]="image_src"
            class="the-footer-image"
          />
        </a>
        <a
          href="https://www.instagram.com/century21fr/"
          target="_blank"
          rel="noreferrer noopener"
          class="the-footer-link1"
        >
          <img
            [attr.alt]="image_alt1"
            [attr.src]="image_src1"
            class="the-footer-image1"
          />
        </a>
        <a
          href="https://twitter.com/century21fr"
          target="_blank"
          rel="noreferrer noopener"
          class="the-footer-link2"
        >
          <img
            [attr.alt]="image_alt2"
            [attr.src]="image_src2"
            class="the-footer-image2"
          />
        </a>
        <a
          href="https://www.linkedin.com/company/century-21-france/"
          target="_blank"
          rel="noreferrer noopener"
          class="the-footer-link3"
        >
          <img
            [attr.alt]="image_alt3"
            [attr.src]="image_src3"
            class="the-footer-image3"
          />
        </a>
        <a
          href="https://youtube.com/user/century21france"
          target="_blank"
          rel="noreferrer noopener"
          class="the-footer-link4"
        >
          <img
            [attr.alt]="image_alt4"
            [attr.src]="image_src4"
            class="the-footer-image4"
          />
        </a>
      </div>
      <div class="the-footer-container1">
        <img
          [attr.alt]="image_alt5"
          [attr.src]="image_src5"
          class="the-footer-image5"
        />
      </div>
    </div>
    <div class="the-footer-footer-inner-right">
      <ul class="list">
        <li class="the-footer-li list-item">
          <a
            [attr.href]="link_text"
            target="_blank"
            rel="noreferrer noopener"
            class="the-footer-link5"
          >
            {{ text }}
          </a>
        </li>
        <li class="the-footer-li1 list-item">
          <a
            [attr.href]="link_text1"
            target="_blank"
            rel="noreferrer noopener"
            class="the-footer-link6"
          >
            {{ text1 }}
          </a>
        </li>
        <li class="the-footer-li2 list-item">
          <a
            [attr.href]="link_text2"
            target="_blank"
            rel="noreferrer noopener"
            class="the-footer-link7"
          >
            {{ text2 }}
          </a>
        </li>
        <li class="the-footer-li3 list-item">
          <a
            [attr.href]="link_text3"
            target="_blank"
            rel="noreferrer noopener"
            class="the-footer-link8"
          >
            {{ text3 }}
          </a>
        </li>
        <li class="the-footer-li4 list-item"><span>{{ text4 }}</span></li>
      </ul>
    </div>
  </div>
</footer>
