<section class="numbers-numbers-container" [ngClass]="rootClassName">
  <div class="numbers-inner">
    <div class="numbers-left">
      <span class="numbers-text">{{ textLeftTop }}</span>
      <span class="numbers-text1">{{ numberLeft }}</span>
      <span class="numbers-text2">{{ textLeftBottom }}</span>
    </div>
    <div class="numbers-middle">
      <span class="numbers-text3">{{ textMiddleTop }}</span>
      <span class="numbers-text4">{{ numberMiddle }}</span>
      <span class="numbers-text5">{{ textMiddleBottom }}</span>
    </div>
    <div class="numbers-right">
      <span class="numbers-text6">{{ textRightTop }}</span>
      <span class="numbers-text7">{{ numberRight }}</span>
      <span class="numbers-text8">{{ textRightBottom }}</span>
    </div>
  </div>
</section>
