:host { 
  display: contents; 
}
.temoignages-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.temoignages-navbar-interactive {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.temoignages-text {
  color: rgb(190, 175, 135);
  font-size: 18px;
  font-style: normal;
  font-family: Barlow;
  font-weight: 600;
}
.temoignages-text03 {
  color: rgb(37, 37, 38);
  font-style: normal;
  font-family: Barlow;
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
}
.temoignages-container1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.temoignages-navlink {
  color: #252526;
  font-style: normal;
  font-family: Barlow;
  font-weight: 600;
  text-decoration: none;
}
.temoignages-navlink1 {
  color: rgb(37, 37, 38);
  font-style: normal;
  font-family: Barlow;
  font-weight: 600;
  text-decoration: none;
}
.temoignages-navlink2 {
  color: rgb(37, 37, 38);
  font-style: normal;
  font-family: Barlow;
  font-weight: 600;
  text-decoration: none;
}
.temoignages-navlink3 {
  color: rgb(37, 37, 38);
  font-style: normal;
  font-family: Barlow;
  font-weight: 600;
  text-decoration: none;
}
.temoignages-desktop-menu {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.temoignages-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.temoignages-text07 {
  margin-left: var(--dl-space-space-twounits);
}
.temoignages-text08 {
  margin-left: var(--dl-space-space-twounits);
}
.temoignages-text09 {
  margin-left: var(--dl-space-space-twounits);
}
.temoignages-text10 {
  margin-left: var(--dl-space-space-twounits);
}
.temoignages-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.temoignages-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.temoignages-burger-menu {
  display: flex;
}
.temoignages-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.temoignages-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(37, 37, 38, 0.83);
}
.temoignages-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.temoignages-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-end;
}
.temoignages-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.temoignages-icon02 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.temoignages-links1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.temoignages-container2 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.temoignages-text11 {
  color: var(--dl-color-gray-white);
  font-size: 38px;
  margin-bottom: var(--dl-space-space-unit);
}
.temoignages-text12 {
  color: var(--dl-color-gray-white);
  font-size: 38px;
  margin-bottom: var(--dl-space-space-unit);
}
.temoignages-text13 {
  color: var(--dl-color-gray-white);
  font-size: 38px;
  margin-bottom: var(--dl-space-space-unit);
}
.temoignages-text14 {
  color: var(--dl-color-gray-white);
  font-size: 38px;
  margin-bottom: var(--dl-space-space-unit);
}
.temoignages-container3 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.temoignages-text15 {
  color: var(--dl-color-gray-white);
  font-size: 38px;
  margin-bottom: var(--dl-space-space-unit);
}
.temoignages-text16 {
  color: var(--dl-color-gray-white);
  font-size: 38px;
  margin-bottom: var(--dl-space-space-unit);
}
.temoignages-text17 {
  color: var(--dl-color-gray-white);
  font-size: 38px;
  margin-bottom: var(--dl-space-space-unit);
}
.temoignages-text18 {
  color: var(--dl-color-gray-white);
  font-size: 38px;
  margin-bottom: var(--dl-space-space-unit);
}
.temoignages-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.temoignages-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.temoignages-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.temoignages-video-testimonial-thumbnails {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: var(--dl-size-size-maxwidth);
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
  padding-bottom: 40px;
}
.temoignages-text19 {
  text-transform: uppercase;
}
.temoignages-text20 {
  color: #beaf87;
  font-size: 38px;
}
.temoignages-text22 {
  font-size: 18px;
}
.temoignages-container4 {
  gap: 20px;
  flex: 0 0 auto;
  width: var(--dl-size-size-maxwidth);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.temoignages-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  background-color: #D9D9D9;
}
.temoignages-video-testimonial-thumbnails1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
  padding-bottom: 40px;
  background-color: #F3F3F3;
}
.temoignages-text23 {
  text-transform: uppercase;
}
.temoignages-text24 {
  color: #beaf87;
  font-size: 38px;
}
.temoignages-text25 {
  color: var(--dl-color-accent-green);
  font-size: 38px;
}
.temoignages-text26 {
  color: #beaf87;
  font-size: 38px;
}
.temoignages-text28 {
  font-size: 18px;
}
.temoignages-container6 {
  gap: 20px;
  flex: 0 0 auto;
  width: var(--dl-size-size-maxwidth);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.temoignages-video-testimonial-thumbnails2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: var(--dl-size-size-maxwidth);
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
  padding-bottom: 40px;
}
.temoignages-text29 {
  text-transform: uppercase;
}
.temoignages-text30 {
  color: #beaf87;
  font-size: 38px;
}
.temoignages-text31 {
  color: var(--dl-color-accent-blue);
  font-size: 38px;
}
.temoignages-text32 {
  color: #beaf87;
  font-size: 38px;
}
.temoignages-text33 {
  color: var(--dl-color-accent-blue);
  font-size: 38px;
}
.temoignages-text34 {
  color: #beaf87;
  font-size: 38px;
}
.temoignages-text36 {
  font-size: 18px;
}
.temoignages-container7 {
  gap: 20px;
  flex: 0 0 auto;
  width: var(--dl-size-size-maxwidth);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
@media(max-width: 1920px) {
  .temoignages-desktop-menu {
    display: none;
  }
  .temoignages-burger-menu {
    display: flex;
  }
}
@media(max-width: 1200px) {
  .temoignages-video-testimonial-thumbnails {
    width: 100%;
  }
  .temoignages-container4 {
    width: 100%;
  }
  .temoignages-video-testimonial-thumbnails1 {
    width: 100%;
  }
  .temoignages-container6 {
    width: 100%;
  }
  .temoignages-video-testimonial-thumbnails2 {
    width: 100%;
  }
  .temoignages-container7 {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .temoignages-video-testimonial-thumbnails {
    width: 100%;
  }
  .temoignages-container4 {
    width: 100%;
  }
  .temoignages-video-testimonial-thumbnails1 {
    width: 100%;
  }
  .temoignages-container6 {
    width: 100%;
  }
  .temoignages-video-testimonial-thumbnails2 {
    width: 100%;
  }
  .temoignages-container7 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .temoignages-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .temoignages-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .temoignages-text11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .temoignages-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .temoignages-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .temoignages-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .temoignages-text15 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .temoignages-text16 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .temoignages-text17 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .temoignages-text18 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .temoignages-text19 {
    text-align: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .temoignages-container4 {
    align-items: center;
    flex-direction: column;
  }
  .temoignages-text23 {
    text-align: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .temoignages-container6 {
    align-items: center;
    flex-direction: column;
  }
  .temoignages-text29 {
    text-align: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .temoignages-text36 {
    text-align: center;
  }
  .temoignages-container7 {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .temoignages-navbar-interactive {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
  .temoignages-navlink {
    display: none;
  }
  .temoignages-navlink1 {
    display: none;
  }
  .temoignages-navlink2 {
    display: none;
  }
  .temoignages-navlink3 {
    display: none;
  }
  .temoignages-mobile-menu {
    padding: 16px;
  }
  .temoignages-text19 {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .temoignages-text22 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .temoignages-text23 {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .temoignages-text28 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .temoignages-text29 {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .temoignages-text36 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
